:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 520px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

main {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(
            circle at center,
            rgba(63, 61, 96, 0.4) 0%,
            rgba(18, 18, 32, 1) 70%
    ),
    linear-gradient(180deg, #0d1023 0%, #0b0e1f 100%);
    background-blend-mode: overlay;

    color: #fff;
    font-family: Inter, sans-serif;
    text-align: center;
}

/* Title + Step */
h1 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
}
.step {
    margin-bottom: 10px;
    color: #b1b1b8;
    font-size: 15px;
}

/* Form */
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input {
    width: calc(100% - 40px);
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    box-shadow: 0 0 12px #0066ff;
    background: rgba(255, 255, 255, 0.1);
}

/* Button */
button {
    width: 100%;
    padding: 14px;
    margin-top: 14px;
    background: #0066ff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    background: #6699ff;
    opacity: 0.6;
    cursor: not-allowed;
}

.error {
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 0;
}
